<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Having fun with pets!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-8">
            <h1 class="display-4">Having fun with pets!</h1>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-4">
        <div class="col-md-3">
            <h3>Cat</h3>
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-primary btn-lg btn-block mb-3">
                        Meow </button>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <h3>Dog</h3>
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-info btn-lg btn-block mb-3">
                        Bark </button>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <h3>Bird</h3>
            <section class="bg-light">
                <div class="col-md-30 text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3">
                        Fly </button>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>